Diagram_Project/WCToSSFSMediationMessageSet/WCToSSFSMediationMessageSet/com/ibm/www/xmlns/prod/commerce/_9/order/OrderServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="OrderServices" targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order" xmlns:_ord="http://www.ibm.com/xmlns/prod/commerce/9/order" xmlns:oa="http://www.openapplications.org/oagis/9" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="OrderServices_InlineSchema1.mxsd"/>
        <generatedMXSD location="..\..\..\..\..\..\..\..\org\openapplications\www\oagis\_9\OrderServices_InlineSchema2.mxsd"/>
        <binding hasEncoding="false" imported="true" name="OrderServices" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>

	<wsdl:types>

		<xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/commerce/9/order">
			<xsd:include schemaLocation="OrderServices_InlineSchema1.mxsd"/>
    </xsd:schema>
				
		<xsd:schema targetNamespace="http://www.openapplications.org/oagis/9">
			<xsd:include schemaLocation="../../../../../../../../org/openapplications/www/oagis/_9/OrderServices_InlineSchema2.mxsd"/>
    </xsd:schema>
		
	</wsdl:types>

	<wsdl:message name="GetOrder">
		<wsdl:part element="_ord:GetOrder" name="GetOrder"/>
	</wsdl:message>
	<wsdl:message name="ShowOrder">
		<wsdl:part element="_ord:ShowOrder" name="ShowOrder"/>
	</wsdl:message>
	<wsdl:message name="ProcessOrder">
		<wsdl:part element="_ord:ProcessOrder" name="ProcessOrder"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeOrder">
		<wsdl:part element="_ord:AcknowledgeOrder" name="AcknowledgeOrder"/>
	</wsdl:message>
	<wsdl:message name="ChangeOrder">
		<wsdl:part element="_ord:ChangeOrder" name="ChangeOrder"/>
	</wsdl:message>
	<wsdl:message name="RespondOrder">
		<wsdl:part element="_ord:RespondOrder" name="RespondOrder"/>
	</wsdl:message>
	<wsdl:message name="SyncOrder">
		<wsdl:part element="_ord:SyncOrder" name="SyncOrder"/>
	</wsdl:message>
	<wsdl:message name="GetQuote">
		<wsdl:part element="_ord:GetQuote" name="GetQuote"/>
	</wsdl:message>
	<wsdl:message name="ShowQuote">
		<wsdl:part element="_ord:ShowQuote" name="ShowQuote"/>
	</wsdl:message>
	<wsdl:message name="ProcessQuote">
		<wsdl:part element="_ord:ProcessQuote" name="ProcessQuote"/>
	</wsdl:message>
	<wsdl:message name="AcknowledgeQuote">
		<wsdl:part element="_ord:AcknowledgeQuote" name="AcknowledgeQuote"/>
	</wsdl:message>
	<wsdl:message name="ChangeQuote">
		<wsdl:part element="_ord:ChangeQuote" name="ChangeQuote"/>
	</wsdl:message>
	<wsdl:message name="RespondQuote">
		<wsdl:part element="_ord:RespondQuote" name="RespondQuote"/>
	</wsdl:message>
	<wsdl:message name="SyncQuote">
		<wsdl:part element="_ord:SyncQuote" name="SyncQuote"/>
	</wsdl:message>
	<wsdl:message name="ConfirmBOD">
		<wsdl:part element="oa:ConfirmBOD" name="ConfirmBOD"/>
	</wsdl:message>

	<wsdl:portType name="OrderServicesPortType">

		<wsdl:operation name="GetOrder">
			<wsdl:input message="_ord:GetOrder" name="GetOrder"/>
			<wsdl:output message="_ord:ShowOrder" name="ShowOrder"/>
		</wsdl:operation>
		<wsdl:operation name="ProcessOrder">
			<wsdl:input message="_ord:ProcessOrder" name="ProcessOrder"/>
			<wsdl:output message="_ord:AcknowledgeOrder" name="AcknowledgeOrder"/>
		</wsdl:operation>
		<wsdl:operation name="ChangeOrder">
			<wsdl:input message="_ord:ChangeOrder" name="ChangeOrder"/>
			<wsdl:output message="_ord:RespondOrder" name="RespondOrder"/>
		</wsdl:operation>
		<wsdl:operation name="SyncOrder">
			<wsdl:input message="_ord:SyncOrder" name="SyncOrder"/>
			<wsdl:output message="_ord:ConfirmBOD" name="ConfirmOrderBOD"/>
		</wsdl:operation>
		<wsdl:operation name="GetQuote">
			<wsdl:input message="_ord:GetQuote" name="GetQuote"/>
			<wsdl:output message="_ord:ShowQuote" name="ShowQuote"/>
		</wsdl:operation>
		<wsdl:operation name="ProcessQuote">
			<wsdl:input message="_ord:ProcessQuote" name="ProcessQuote"/>
			<wsdl:output message="_ord:AcknowledgeQuote" name="AcknowledgeQuote"/>
		</wsdl:operation>
		<wsdl:operation name="ChangeQuote">
			<wsdl:input message="_ord:ChangeQuote" name="ChangeQuote"/>
			<wsdl:output message="_ord:RespondQuote" name="RespondQuote"/>
		</wsdl:operation>
		<wsdl:operation name="SyncQuote">
			<wsdl:input message="_ord:SyncQuote" name="SyncQuote"/>
			<wsdl:output message="_ord:ConfirmBOD" name="ConfirmQuoteBOD"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="OrderServices" type="_ord:OrderServicesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="GetOrder">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="GetOrder">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShowOrder">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessOrder">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="ProcessOrder">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AcknowledgeOrder">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeOrder">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="ChangeOrder">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="RespondOrder">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncOrder">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="SyncOrder">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ConfirmOrderBOD">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetQuote">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="GetQuote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShowQuote">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessQuote">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="ProcessQuote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="AcknowledgeQuote">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeQuote">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="ChangeQuote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="RespondQuote">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SyncQuote">
			<soap:operation soapAction="http://localhost/services/OrderServices.wsdl"/>
			<wsdl:input name="SyncQuote">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ConfirmQuoteBOD">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="OrderServices">
		<wsdl:port binding="_ord:OrderServices" name="OrderServices">
			<soap:address location="http://localhost/webapp/wcs/component/order/services/OrderServices"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>